<div class="row">
    <div class="col-6 offset-3">
        <mat-form-field>
            <input matInput placeholder="Filtrar películas de este genero" [(ngModel)]="filter">
        </mat-form-field>
    </div>
</div>

<div class="row pt-0 pl-5 pr-5 justify-content-center"
     infiniteScroll
     [scrollWindow]="true"
     [infiniteScrollDistance]="3"
     (scrolled)="loadMoreMovies()">
    <div class="col-auto p-0 m-1 mb-3" *ngFor="let movie of movies">
        <div class="ccard">
            <img mat-card-image [src]="movie.image_small" [alt]="movie.title">
        </div>
    </div>
</div>
<div class="row m-5 justify-content-center" *ngIf="endOfList">
    <div class="col text-center">
        <h4>Se han cargado todas las películas de este genero</h4>
    </div>
</div>