.ccard{
    cursor: pointer;
    img{
        height: 160px;
        width: 290px;
    }
    p{
        position: absolute;
        bottom: 0px;
        margin: auto;
        width: 290px;
        // background: rgb(15, 15, 15)
        background-image: linear-gradient(to bottom, rgba(15,15,15,0), rgba(15,15,15,1));
    //     background: linear-gradient(to top,
    //     rgba(0,0,0, 1) 0%, 
    //     rgba(50,50,50, 0) 100%
    //  );
    }
}